/* Base resets*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Cerebri Sans';
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body,
.congrats {
  min-height: 100vh;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.otf');
  font-weight: 500;
}

/* Utilities */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hide {
  display: none !important;
}

:root {
  /*colors*/
  --back_white: #f5f5f5;
  --greys_primary: #0f241b;
  --greys_secondary: #1d352a;
  --greys_tertiary: #4b6358;
  --greys_septenary: #f0f4f2;
  --green_primary: #03a84e;
  --green_quaternary: #98DCAF;
  --green_tertiary: #03a84e;
  --orange_primary: #ff9d00;
  --orange_tertiary: #ffc260;

  /*Spacing*/
  --xs_page: 24px;

  /*font Size*/
  --xs_header: 20px;
  --xs_sub_header: 16px;
}

body {
  padding: 0 var(--xs_page);
  background-color: white;
  font-family: 'Cerebri Sans';
}
.congrats {
  text-align: center;
  position: relative;
  display: grid;
  place-items: center;
  max-width: 500px;
  margin: 0 auto;
}
.congrats-main {
  margin-top: -150px;
}
.congrats-main > img {
  margin: 0 auto 20px auto;
}
.congrats-main > h1 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: var(--greys_primary);
  font-size: var(--xs_header);
  line-height: 32px;
  margin-bottom: 10px;
}
.congrats-main > p {
  font-family: 'Cerebri Sans';
  font-weight: normal;
  line-height: 24px;
  color: var(--greys_secondary);
  font-size: var(--xs_sub_header);
}
.congrats-btn {
  width: 100%;
  border-radius: 1000px;
  padding: 12px 0;
  font-size: 16px;
  border: 0px;
  background-color: var(--green_primary);
  position: absolute;
  bottom: 82px;
  left: 0;
  color: white;
  font-family: 'Cerebri Sans';
}

.nav-top {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.nav-top h1 {
  margin-left: 16px;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
}
.nav-top > div:last-child {
  margin-left: auto;
}
.profile-icon {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #fff3df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-top {
    list-style: none;
    display: flex;
    background-color: var(--greys_septenary);
    column-gap: 4px;
    padding: 4px;
    border-radius: 5px;
    margin: 26px 0;
}
.nav-links-top > li {
    width: 50%;
    display: grid;
    place-items: center;
    font-weight: normal;
    font-size: 14px;
    color: var(--greys_primary);
}
.nav-links-top > li.active {
    color: var(--greys_tertiary);
    background-color: white;
    font-weight: 500;
    padding: 6px 0;
    border-radius: 5px;
}

/* Eden Main */
.eden-main {
    background-color: var(--green_primary);
    border: 4px solid var(--green_quaternary);
    border-radius: 8px;
    padding: 22px 16px;
    color: white;
    position: relative;
    margin: 24px 0;
}
.eden-main h2 {
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.eden-main p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.eden-main img {
    position: absolute;
    right: 0;
    bottom: 0;
}