/* Base resets*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Cerebri Sans';
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body,
.congrats {
  min-height: 100vh;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Cerebri Sans';
  src: url('../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.otf');
  font-weight: 500;
}

/* Utilities */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hide {
  display: none !important;
}

:root {
  /*colors*/
  --back_white: #f5f5f5;
  --greys_primary: #0f241b;
  --greys_secondary: #1d352a;
  --greys_tertiary: #4b6358;
  --greys_septenary: #f0f4f2;
  --greys_quaternary: #8aa398;
  --green_primary: #03a84e;
  --green_quaternary: #98dcaf;
  --green_tertiary: #6ece8a;
  --green_octonary: #f6fffa;
  --green_septenary: #e9fbf2;
  --orange_primary: #ff9d00;
  --orange_tertiary: #ffc260;
  --orange_septenary: #fff3df;
  --orange_octonary: #fffbf5;

  /*Spacing*/
  --xs_page: 24px;

  /*font Size*/
  --xs_header: 20px;
  --xs_sub_header: 16px;
}

body {
  padding: 0 var(--xs_page);
  background-color: white;
  font-family: 'Cerebri Sans';
}
.congrats {
  text-align: center;
  position: relative;
  display: grid;
  place-items: center;
  max-width: 500px;
  margin: 0 auto;
}
.congrats-main {
  margin-top: -150px;
}
.congrats-main > img {
  margin: 0 auto 20px auto;
}
.congrats-main > h1 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: var(--greys_primary);
  font-size: var(--xs_header);
  line-height: 32px;
  margin-bottom: 10px;
}
.congrats-main > p {
  font-family: 'Cerebri Sans';
  font-weight: normal;
  line-height: 24px;
  color: var(--greys_secondary);
  font-size: var(--xs_sub_header);
}
.congrats-btn {
  width: 100%;
  border-radius: 1000px;
  padding: 12px 0;
  font-size: 16px;
  border: 0px;
  background-color: var(--green_primary);
  position: absolute;
  bottom: 82px;
  left: 0;
  color: white;
  font-family: 'Cerebri Sans';
}
/*Nav path*/
.nav-path {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
.nav-path ul {
  padding: 11px var(--xs_page);
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-path ul li {
  display: grid;
  gap: 7px;
  place-items: center;
  font-size: 12px;
  line-height: 16px;
  color: var(--greys_quaternary);
}
.nav-path ul li.active {
  color: var(--green_primary);
}

.nav-top {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.nav-top h1 {
  margin-left: 16px;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
}
.nav-top > div:last-child {
  margin-left: auto;
}
.profile-icon {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #fff3df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-top {
  list-style: none;
  display: flex;
  background-color: var(--greys_septenary);
  align-items: center;
  column-gap: 4px;
  padding: 4px;
  border-radius: 5px;
  margin-top: 26px;
}
.nav-links-top > li {
    width: 50%;
    display: grid;
    place-items: center;
    font-weight: normal;
    font-size: 14px;
    color: var(--greys_primary);
}
.nav-links-top > li.active {
    color: var(--greys_tertiary);
    background-color: white;
    font-weight: 500;
    padding: 6px 0;
    border-radius: 5px;
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 0 0 10px 0;
}

/* Eden Main */
.eden-main {
  background-color: var(--green_primary);
  border: 4px solid var(--green_quaternary);
  border-radius: 8px;
  padding: 22px 16px;
  color: white;
  position: relative;
  margin: 24px 0;
}
.eden-main h2 {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.eden-main p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.eden-main img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.services {
  gap: 24px;
  margin-bottom: 90px;
}
.service-card-top {
  display: flex;
  justify-content: space-between;
}
.service-card-top h3 {
  font-size: 16px;
  line-height: 24px;
}
.service-card-top button {
  padding: 4px 6px;
  border-radius: 1000px;
  font-size: 12px;
  line-height: 16px;
  border: 0;
}
.time {
  display: flex;
  font-size: 12px;
  font-weight: 16px;
  align-items: center;
  column-gap: 9px;
  padding-top: 12px;
}
/*Delivery*/
.delivery {
  border: 1px solid var(--green_tertiary);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--green_octonary);
}
.delivery .service-card-top h3 {
  color: var(--green_primary);
}
.delivery .service-card-top button {
  background-color: var(--green_septenary);
  color: var(--green_primary);
}
.delivery > div:nth-child(2) {
  display: flex;
  margin: 12px 0;
  column-gap: 10px;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  border-bottom: 1px solid #bdeecd;
  padding: 20px 0;
}
.delivery > div:nth-child(2) > img {
  width: 84px;
  border-radius: 8px;
}
.delivery > div:nth-child(2) h4 {
  color: var(--greys_tertiary);
  margin-bottom: 4px;
}
.delivery > div:nth-child(2) p {
  color: var(--greys_primary);
}
/*cleaning*/
.cleaning {
  border: 1px solid var(--orange_tertiary);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--orange_octonary);
}
.cleaning .service-card-top h3 {
  color: var(--orange_primary);
}
.cleaning .service-card-top button {
  color: var(--orange_primary);
  background-color: var(--orange_septenary);
}
.cleaning > div:nth-child(2) {
  padding: 12px 0;
  border-bottom: 1px solid #ffda9f;
}
.cleaning > div:nth-child(2) p {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 640px) {
  .services {
    grid-template-columns: repeat(2, auto);
  }
}
